.control__btn:hover{
   transform: scale(1.1)
}
.control__btn{
   padding: 0;
   border-radius: 75% 0 0 75%;
}
.control__btn_1:hover{
   transform: scale(1.1)
}
.control__btn_1{
   padding: 0;
   border-radius: 0 75% 75% 0;
}
.counter_div{
   border-color: black;
   width: 500px;
}


